{% extends base.html.twig %}

{% block body %}
    <html>
    <body>
    <form>
        <label>Username: </label>
        <input type="text" name="username">
        <br>
        <label>Email:</label>
        <input type ="text" name="email">
    </form>

    <br>

    </body>
    </html>
{% endblock %}
