{% extends 'base.html.twig'%}

{#TODO: should show list of rooms available to join#}
{% block body %}
    <h1>Rooms</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>
                    <a href="{{ path('chatroom', {
                        'chatroom': room.roomName
                    }) }}">{{ room.RoomName}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4><a href="{{path('newroom')}}">Create Room</a></h4>
{% endblock %}